<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.curfing.mapper.BoardMapper">

	<select id="getList" resultType="com.curfing.domain.BoardVO">
		<![CDATA[
			select * from cafe_r where bno > 0 
		]]>
	</select>
	
	<sql id="criteria">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							cafename like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							address like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							cafeinfo like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 게시물 목록(페이징) -->
	<select id="getListPaging" resultType="com.curfing.domain.BoardVO">
	
	<![CDATA[
		select bno, cafename, address, phone, cafeinfo, price, car, opentime, dayoff
			from(
				
				select /*+INDEX_DESC(cafe_r SYS_C007208)*/
				
				rownum as rn, bno, cafename, address, phone, cafeinfo, price, car, opentime, dayoff
				
				from cafe_r
				
				where rownum <= #{pageNum} * #{amount}
	]]>
				<if test="keyword != null">
					<include refid ="criteria"></include> <!-- 재사용 하기 -->
				</if>
				
				
	<![CDATA[		
				)
		where rn > (#{pageNum} - 1) * #{amount}
	]]>	
		
	</select>



	
	
	<select id="getTotal" resultType="int">
		
		select count(*) from cafe_r
			
        <if test="keyword != null">
        	where bno > 0 <include refid ="criteria"></include>
        </if>
	
	</select>
	
</mapper>