<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.curfing.mapper.MemberMapper">
  <!-- 일반회원 -->
  	<insert id="memberJoin">
  		insert into user_t values(#{username}, #{userid},#{pwd}, #{email}, #{phone}, 0)

  	</insert>
	<!-- 사업자 -->  	
		<insert id="businessJoin">
  		insert into member_t values(seq_member.nextval, #{membername}, #{memberid}, #{memberpwd}, #{email}, #{memberJURIRNO}, #{photo}, #{phone}, 1)

  	</insert>
  	<!--일반회원 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  	
  		select count(*) from user_t where userid = #{userid}
  	
  	</select>
  	 
  	 <!--일반회원 로그인 -->
      <select id="memberLogin" resultType="com.curfing.vo.MemberVO">
      
        select userid, username from user_t where userid = #{userid} and pwd = #{pwd}
      
      </select>
      
       <!--사업자 로그인 -->
      <select id="memberLogin2" resultType="com.curfing.vo.BusinessVO">
      
        select memberid, membername from member_t where memberid = #{memberid} and memberpwd = #{memberpwd} and memberJURIRNO = #{memberJURIRNO}
      
      </select>
    	
     <select id ="findid" resultType="com.curfing.vo.MemberVO">
     select userid from user_t where username = #{username} and phone = #{phone}
    </select>
  
  </mapper> 