@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

html, body {
	font-size: 13px;
	font-family: 돋음체, sans-serif, serif;
}

body {
	width: 980px; /* % - 브라우저 크기 기준 */
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration:none;
}
img {
	border: none;
}
/* header */

/* 로그인, 회원가입, 마이페이지 */
.topNav>ul {
      text-align: right;
      padding-top: 5px;
    }

    .topNav li {
      display: inline-block;
      margin-left: 2px;
    }

    .topNav li>a {
      display: inline-block;
      padding: 5px 5px;
      background-color: rgb(233, 159, 159);
      border-radius: 8px;
      color: azure;
    }

    .topNav li>a:hover {
      color: azure;
      background-color: #C3E2DD;
    }
  
  .login_success_area{
     font-size: 13px;
     color: black;
  }
  .login_success_area >a{
   display: inline-block;
      padding: 5px 5px;
      background-color: rgb(233, 159, 159);
      border-radius: 8px;
      color: azure;
  }

 /* 로고 */
.logo {
	text-align: center;
	font-size: 90pt;
	margin-bottom: 50px;
}
.logo>a {
	color: rgb(233, 159, 159);
}

/* 검색 */


.join input {
	width: 80%;
	border-radius: 20px;
	border: 1px solid #bbb;
	margin-bottom: 10px;
	padding: 15px 17px;
}

#searchForm{
    margin:0 auto;
    }
    
    
    
    select{
        width: 150px;
   border: 1px solid #bbb;
   margin-bottom: 50px;
   padding: 15px 17px 15.5px;
   margin-right: -6px;
   margin-left: 200px;
    }
  .sinput {
    height: 17px;
    width: 300px;
   border: 1px solid #bbb;
   margin-bottom: 50px;
   padding: 15px 17px;
}
.sbtn{
    width: 100px;
   border: 1px solid #bbb;
   margin-bottom: 50px;
   padding: 15.5px 17px 16px;
   margin-left: -6px;
}

/* 메인 메뉴 */
.mainMenu {
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 2px solid rgb(233, 159, 159);
}

.mainMenu li {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 40px;
}

.mainMenu li>a {
	display: inline-block;
	padding: 5px 20px;
	background-color: rgb(233, 159, 159);
	border-radius: 15px;
	color: azure;
}

.mainMenu li>a:hover {
	text-decoration: none;
	background-color: cadetblue;
}

/* section */
h3 {
	font-weight: bold;
	font-size: large;
}

.join {
	padding-top: 50px;
	margin-bottom: 5px;
}

.join>h2 {
	color: rgb(233, 159, 159);
	padding-bottom: 5px;
}

.join_box {
	border-top: 1px solid grey;
}

.join_input {
	width: 400px;
	display: inline-block;
	margin-right: 40px;
	padding-top: 30px;
	padding-left: 130px;
}

.join_input>h4 {
	text-align: left;
	padding-left: 15px;
}

.userid

{
	width: 200px;
	height: 10px;
}

.review_box{
	padding-left: 130px;
}

.reply{
	width: 700px;
	height: 150px;
	border-radius: 15px;
	padding: 10px;
}

.join_btn {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 280px;
	width: 410px;
	height: 40px;
	font-size: 15pt;
	color: azure;
	border-radius: 15px;
	background-color: rgb(233, 159, 159);
	border: none;
	text-align: center;
}

.join_btn:hover {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 280px;
	width: 410px;
	height: 40px;
	font-size: 15pt;
	color: azure;
	background-color: rgb(80, 80, 80);
}

/* component */

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}



/* footer */
.bottom {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.icon li {
	display: inline-block;
	text-align: center;
}

.info {
	padding-top: 30px;
}

.info li {
	display: inline-block;
	text-align: start;
}

.copyright {
	text-align: left;
	padding: 10px;
}

 